@font-face {
    font-family: 'Cerebri Sans';
    src: url('assets/fonts/CerebriSans/CerebriSans-SemiBold.woff2') format('woff2'),
        url('assets/fonts/CerebriSans/CerebriSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cerebri Sans';
    src: url('assets/fonts/CerebriSans/CerebriSans-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/CerebriSans/CerebriSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Cerebri Sans';
    src: url('assets/fonts/CerebriSans/CerebriSans-Heavy.woff2') format('woff2'),
        url('assets/fonts/CerebriSans/CerebriSans-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cerebri Sans';
    src: url('assets/fonts/CerebriSans/CerebriSans-Regular.woff2') format('woff2'),
        url('assets/fonts/CerebriSans/CerebriSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cerebri Sans';
    src: url('assets/fonts/CerebriSans/CerebriSans-ExtraBold.woff2') format('woff2'),
        url('assets/fonts/CerebriSans/CerebriSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Cerebri Sans';
    src: url('assets/fonts/CerebriSans/CerebriSans-HeavyItalic.woff2') format('woff2'),
        url('assets/fonts/CerebriSans/CerebriSans-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Cerebri Sans';
    src: url('assets/fonts/CerebriSans/CerebriSans-ExtraBoldItalic.woff2') format('woff2'),
        url('assets/fonts/CerebriSans/CerebriSans-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Cerebri Sans';
    src: url('assets/fonts/CerebriSans/CerebriSans-LightItalic.woff2') format('woff2'),
        url('assets/fonts/CerebriSans/CerebriSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Cerebri Sans';
    src: url('assets/fonts/CerebriSans/CerebriSans-MediumItalic.woff2') format('woff2'),
        url('assets/fonts/CerebriSans/CerebriSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Cerebri Sans Book';
    src: url('assets/fonts/CerebriSans/CerebriSans-BookItalic.woff2') format('woff2'),
        url('assets/fonts/CerebriSans/CerebriSans-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cerebri Sans Book';
    src: url('assets/fonts/CerebriSans/CerebriSans-Book.woff2') format('woff2'),
        url('assets/fonts/CerebriSans/CerebriSans-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cerebri Sans';
    src: url('assets/fonts/CerebriSans/CerebriSans-Medium.woff2') format('woff2'),
        url('assets/fonts/CerebriSans/CerebriSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cerebri Sans';
    src: url('assets/fonts/CerebriSans/CerebriSans-Light.woff2') format('woff2'),
        url('assets/fonts/CerebriSans/CerebriSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cerebri Sans';
    src: url('assets/fonts/CerebriSans/CerebriSans-SemiBoldItalic.woff2') format('woff2'),
        url('assets/fonts/CerebriSans/CerebriSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Cerebri Sans';
    src: url('assets/fonts/CerebriSans/CerebriSans-Bold.woff2') format('woff2'),
        url('assets/fonts/CerebriSans/CerebriSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cerebri Sans';
    src: url('assets/fonts/CerebriSans/CerebriSans-Italic.woff2') format('woff2'),
        url('assets/fonts/CerebriSans/CerebriSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}