.error, .has-error {
  color: #ce4844;
  input {
    border: 1px solid #ce4844;
  }
}

.form-wrapper {
  overflow: hidden;
  background: #fff;
  border-radius: 23px;
  box-shadow: 0 24px 32px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #0085cd;
  padding-bottom: 6px;
}

.form-switcher {
  background: #e6f3fa;
  padding: 24px 24px 0;
  border-bottom: 1px solid #bdddff;
  @media only screen and (max-width: 768px) {
    display: flex;
    padding: 14px 15px 0;
    justify-content: space-between;
  }

  button {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #fff;
    background-color: #0085cd;
    font-size: 18px;
    padding: 11px 24px;
    font-weight: 600;
    border: solid 1px #bdddff;
    border-bottom: none;
    position: relative;
    top: 1px;
    &:focus {
      outline: none;
    }
    &.active {
      color: #3d5a80;
      background: #fff;
    }

    @media only screen and (max-width: 768px) {
      width: 48%;
    }
  }
}

.form-content {
  padding: 0 21px 24px;
  overflow: hidden;
  @media only screen and (max-width: 576px) {
    padding: 9px 12px 24px;
  }
}

.form {
  padding-top: 7%;
  &.account-form {
    padding-top: 23px;
    @media only screen and (max-width: 1000px) {
      .form-half {
        width: 100%;
        .space {
          display: none;
        }
      }
    }
  }

  .account-form-actions {
    .btn {
      margin-left: 24px;
    }
  }

  .form-half {
    width: 46%;
  }
  .form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    flex-wrap: wrap;
    align-items: center;
    &.has-error {
      &.form-group-select .multiselect__tags {
        border-color: #ce4844
      }
      input {
        border-color: #ce4844
      }
    }

    &:last-child {
      margin-bottom: 20px;
    }

    .language-select {
      width: 100%;
      max-width: 100%s;
    }

    &.space {
      width: 100%;
      height: 66px;
      max-width: 286px;
      @media only screen and (max-width: 1200px) {
        height: 60px;
      }
    }

    .input-wrapper {
      max-width: 100%;
      width: 100%;
      position: relative;
    }

    input {
      font-size: 14px;
      border-radius: 12px;
      width: 100%;
      max-width: 100%;
      padding: 9px 16px;
      background: #ffffff;
      border: solid 1px #d6efff;
      transition: all 0.2;
      &:focus {
        outline: none;
      }
    }

    .error {
      display: block;
      width: 100%;
    }
  }

  .from-group-password {
    position: relative;
    .eye-block {
      position: relative;
      right: 5px;
      top: 8px;
    }
  }

  .form-group-select {
    input {
      border: none;
    }
    .multiselect {
      .multiselect__select:before {
        background: url('assets/icons/icon-arrow-down-xs-blue.svg') no-repeat;
        border: none;
        height: 24px;
        width: 24px;
        top: -1px;
        display: block;
      }

      // border: solid 1px #d6efff;
      min-width: 200px;
      max-width: 100%;
      &.multiselect--above {
        .multiselect__content-wrapper {
          top: auto;
          border: solid 1px #d6efff;
          border-bottom-left-radius: 12px;
          border-bottom-right-radius: 12px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom: none;
        }
        .multiselect__content {
          padding-top: 0px;
          padding-bottom: 12px;
        }
      }
    }

    .multiselect__tags {
      border-radius: 12px;
      padding: 5px 40px 0 16px;
      min-height: 36px;
      border: solid 1px #d6efff;
    }

    .multiselect__option {
      font-size: 14px;
      padding: 12px 16px;
    }

    .multiselect__option--highlight {
      background: #e6f3fa;
      color: #35495e;
    }

    .multiselect__single {
      color: #071012;
      font-size: 14px;
      margin: 0;
      padding: 2px 0 0 0;
    }

    .multiselect__content {
      padding-top: 12px;
    }

    .multiselect__content-wrapper {
      top: 27px;
      border: solid 1px #d6efff;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      border-top: none;
    }

    .multiselect__placeholder {
      margin-bottom: 1px
    }
    // input {
    //   border: none;
    //   padding: 0;
    //   margin: 0;
    //   width: auto;
    // }

    // .form-select {
    //   width: 100%;
    //   max-width: 286px;
    // }

    // .vs__dropdown-toggle {
    //   border: solid 1px #d6efff;
    //   border-radius: 12px;
    //   padding: 8px 4px;
    // }
  }

  label {
    font-size: 16px;
    color: #071012;
    width: 100%;
    margin-bottom: 6px;
  }
}

.btn {
  cursor: pointer;
  border-radius: 12px;
  background: #fff;
  border: solid 1px #00cdbf;
  padding: 13px 18px;
  &:focus {
    outline: none;
  }
}

.btn-primary {
  color: #0085cd;
  border: solid 1px #d6efff;
  cursor: pointer;
  &-active {
    background-color: #e6f3fa;
  }
  &:hover {
    background-color: #e6f3fa;
  }
}

.btn-success {
  color: #fff;
  background-color: #00cdbf;
}

.form-actions {
  display: inline-flex;
  margin-top: 6px;
  width: 100%;
  .switch-form {
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
    color: #0085cd;
  }
}

.form-actions-justified {
  align-items: center;
  justify-content: space-between
}

.form-actions-right {
  float: right;
  width: 100%;
  max-width: 400px;
}

.sign-in-form {
  .switch-form {
    width: 100%;
    margin-bottom: 21px;
    .form-actions {
      .form-actions {
        margin-top: 0;
      }
    }
  }
}

.checkbox-input {
  display: flex;
  label {
    font-size: 14px;
    font-weight: 300;
    margin-left: 5px;
  }
  input {
    margin-top: 2px;
  }
}


.sign-form {
  .form-actions {
    @media only screen and (max-width: 576px) {
      flex-wrap: wrap;
      text-align: center;
      .btn {
        width: 100%;
      }
      .checkbox-input {
        margin-bottom: 20px;
      }
    }
  }
  .switch-form {
    @media only screen and (max-width: 576px) {
      font-size: 14px;
      margin-bottom: 24px;
      width: 100%;
    }
  }
  .form-actions-right {
    @media only screen and (max-width: 576px) {
      float: none;
      max-width: 100%;
    }
  }
}
