.error, .has-error {
  color: #ce4844;
  input {
    border: 1px solid #ce4844;
  }
}

.sign-form {
  background-color: $form-background-color;
  border: solid $border-color $border-width;
  border-radius: $border-radius;
  color: $form-text-color;
  padding: 20px;
}
