.content {
  background-color: $main-background-color;
  color: $main-text-color;
}

body .hide-mobile {
  @media only screen and (max-width: 600px) {
    display: none;
  }
}

body .show-mobile {
  display: none;
  @media only screen and (max-width: 600px) {
    display: inline-block;
  }
}

.flag-name {
  margin: 0 5px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  .account-drop-down {
    @media screen and (max-width: 767px){
      .account-drop-down__select {
        border-left: none !important;
      }
    }
  }
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.full-width {
  width: 100%;
}