.rtl .survey-content {
    padding: 3.1% 5.5% 60px 39.5%;
}

.rtl .drag-and-drop-statement-sorting .drag-and-drop-info {
  left: auto;
  right: 100%;
}

.rtl {
  direction: rtl;
  .multiselect__content-wrapper {
      left: 0;
  }
  .v--modal-box {
    direction: rtl !important;
  }
}