.dd-sorting-list {
  .dd-sorting-item {
    background-color: $phrase-bg-color;
    border: $border-width solid $phrase-border-color;
    border-radius: $border-radius;
    color: $form-text-color;
    padding: 13px 15px;
    margin: 10px 0px;

    &.chosen-item {
      border-color: $rank-border-color;
      color: $selected-phrase-color;

      &.ghost-placeholder {
        position: relative;
        border: none;

        &:after {
          background: $placeholder-bg-color;
          border-radius: $border-radius;
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
        }
      }
    }

    &.handle {
      cursor: pointer;
    }
    .arrow {
      float: right;
      padding: 1px 11px;
      height: 30px;
      width: 30px;
    }
  }
}

.dd-sorting-list-item-num {
  min-width: 50px;
  min-height: 50px;
  margin: 10px;
  padding: 15px;
}

.tap-sorting-list {
  .tap-sorting-item {
    margin: 10px 0px;
    color: $form-text-color;

    &__phrase, &__rank {
      border-radius: $border-radius;
      display: inline-block;
      padding: 13px 10px;
    }
    &__phrase {
      margin-right: 20px;
      width: 80%;
    }
    &__rank {
      text-align: center;
      margin-left: 20px;
      min-height: 50px;
      min-width: 50px;
      vertical-align: middle;
    }
  }

  &.ordered {
    .tap-sorting-item {
      &__phrase {
        background-color: $selected-phrase-bg-color;
      }
      &__rank {
        background-color: $selected-rank-bg-color;
      }
    }
  }

  &.raw {
    .tap-sorting-item {
      &__phrase {
        background-color: $phrase-bg-color;
        border: $border-width solid $phrase-border-color;
      }
      &__rank {
        background-color: $rank-bg-color;
        border: $border-width solid $rank-border-color;
      }
    }
  }
}
