.drag-and-drop-statement-sorting {
  position: relative;
  .drag-and-drop-info {
    color: #3d5a80;
    top: 0;
    position: absolute;
    left: 100%;
    max-width: 500px;
    width: 68%;
    @media only screen and (max-width: 768px) {
      position: static;
      width: 100%;
      font-size: 14px;
      
    }
  }
  .icon {
    height: 24px;
    float: left;
    margin-bottom: 8px;
    margin-right: 16px;
    color: #0085cd;
  }
}
.dd-sorting-list {
  .dd-sorting-item {
    position: relative;
    background-color: #FFFFFF;
    max-width: 400px;
    border: 2px solid #D6EFFF;
    border-radius: 15px;
    color: #000000;
    padding: 8px 20px 9px 24px;
    margin-bottom: 7px;

    &.chosen-item {
      border-color: $rank-border-color;
      color: $selected-phrase-color;

      &.ghost-placeholder {
        position: relative;
        border: none;

        &:after {
          background: $placeholder-bg-color;
          border-radius: $border-radius;
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
        }
      }
    }

    &.handle {
      cursor: pointer;
    }
    .arrow {
      height: 20px;
      width: 14px;
      position: absolute;
      right: 5px;
      top: calc(50% - 10px);
    }

    .item-phrase {
      color: #3d5a80;
    }
  }
}

.survey .dd-sorting-list-item-num {
  text-align: center;
  width: 45px;
  margin-bottom: 18px;
  padding-top: 10px;
  display: block;
}

.tap-sorting-list {
  width: 100%;
  .tap-sorting-item {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    color: $form-text-color;
    @media only screen and (max-width: 768px) {
      border: solid 1px #d6efff;
      border-radius: 15px;
    }
    &__phrase, &__rank {
      border-radius: $border-radius;
      display: inline-block;
    }
    &__phrase {
      padding: 10px 24px;
      margin-right: 2px;
      width: 72%;
      @media only screen and (max-width: 768px) {
        width: 100%;
      }
    }
    &__rank {
      width: 45px;
      height: 45px;
      border-radius: 16px;
      border: solid 1px #bdddff;
      background-color: #fafdff;
      margin-left: 20px;
      padding-top: 10px;
      text-align: center;
      @media only screen and (max-width: 768px) {
        width: 59px;
        height: 48px;
        margin-left: 0px;
      }
    }
  }

  &.ordered {
    .tap-sorting-item {
      @media only screen and (max-width: 768px) {
        background-color: $selected-phrase-bg-color;
      }
      &__phrase {
        background-color: $selected-phrase-bg-color;
        @media only screen and (max-width: 768px) {
          background: none;
        }
      }
      &__rank {
        background-color: $selected-rank-bg-color;
      }
    }
  }

  &.raw {
    .tap-sorting-item {
      &__phrase {
        border: solid 1px #d6efff;
        background-color: #ffffff;
        @media only screen and (max-width: 768px) {
          border: none;
        }
      }
    }
  }
}

.drag-and-drop-numbers {
  width: 64px;
}