$selected-phrase-bg-color: #D6EFFF;
$selected-phrase-color: #2E9BD7;
$selected-rank-bg-color: #BDDDFF;

$phrase-bg-color: #FFFFFF;
$rank-bg-color: #FAFDFF;
$phrase-border-color: #D6EFFF;
$rank-border-color: #BDDDFF;

$border-radius: 15px;
$border-width: 2px;

$placeholder-bg-color: #E1E6E9;
